*{
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}
/* styles related to main div */

#main-div{
    padding: 1rem;
    margin: 0rem auto;
    max-width: 90%;
    max-height: 900px;
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;    
}
/* styles related to input-div */
#input-div{
  padding-top: 6rem;
  background-color: rgba(202, 97, 97, 0.3);
  max-width: 50%;
  margin: 0rem auto;
  border-radius: 5px;
 height: 600px;
 
  
}
input{
    margin-left:1rem;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin-bottom: 1.2rem;
    width: 50%;
    font-size: 1.4rem;
    height: 2rem;  
    font-weight: bold;
    color: rgb(240, 255, 255);
    
    
}
::placeholder{
    font-size: 13px;
}
label{
    color: whitesmoke;
    margin: 0rem 0rem;
    display: inline-block;
    font-size: 20px;
}
/* styles related to button */
#check-btn{
    display: block;
    margin: 2rem auto;
    height: 3rem;
    width: 6rem;   
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}


button:hover{
    background-color: black;
    color: white;

}
/* styles related to result section */

#result{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(245, 222, 179);

}